.footer {
    padding: 114px 0 54px 0;
    background: url('../img/footer-bg.jpg') center top / cover no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: white;

    @media screen and (max-width: $xlBrakepoint) {
        padding-top: 86px;
        padding-bottom: 41px;
    }

    @media screen and (max-width: $lgBrakepoint) {
        padding-top: 65px;
        padding-bottom: 31px;
    }

    @media screen and (max-width: $mdBrakepoint) {
        padding-top: 37px;
        padding-bottom: 91px;
    }

    &__btn-container {
        text-align: center;

        .powered-by + & {
            margin-top: 80px;

            @media screen and (max-width: $xlBrakepoint) {
                margin-top: 60px;
            }

            @media screen and (max-width: $lgBrakepoint) {
                margin-top: 45px;
            }

            @media screen and (max-width: $mdBrakepoint) {
                margin-top: 48px;
            }
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $lgBrakepoint) {
            display: block;
        }

        @media screen and (max-width: $smBrakepoint) {
            max-width: 290px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__col {
        font-size: 18px;

        @media screen and (max-width: $xlBrakepoint) {
            font-size: 16px;
        }
        
        @media screen and (max-width: $mdBrakepoint) {
            font-size: 14px;
        }

        & + & {
            @media screen and (max-width: $lgBrakepoint) {
                margin-top: 2.428571428571429em;
            }
        }
    }

    &__col-inner {
        padding: 0 1em;

        @media screen and (max-width: $lgBrakepoint) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__col:first-child &__col-inner {
        padding-left: 0;
    }

    &__col:last-child &__col-inner {
        padding-right: 0;
    }

    &__col + &__col &__col-inner {
        position: relative;

        &::before {
            content: "";
            width: 1px;
            height: 2.055555555555556em;
            position: absolute;
            top: 50%;
            left: -0.5px;
            margin-top: -1.027777777777778em;
            background: white;

            @media screen and (max-width: $lgBrakepoint) {
                display: none;
            }
        }
    }

    &__btn-container {
        @media screen and (max-width: $smBrakepoint) {
            max-width: 290px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__btn-container + &__row {
        margin-top: 86px;

        @media screen and (max-width: $xlBrakepoint) {
            margin-top: 65px;
        }

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 49px;
        }

        @media screen and (max-width: $mdBrakepoint) {
            margin-top: 42px;
        }
    }

    &__link {
        display: inline-block;
        vertical-align: top;
    }

    &__copyright {
        text-align: center;
        font-size: 14px;

        @media screen and (max-width: $smBrakepoint) {
            max-width: 290px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__row + &__copyright {
        margin-top: 39px;

        @media screen and (max-width: $xlBrakepoint) {
            margin-top: 29px;
        }

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 54px;
        }
    }
}

.powered-by {
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $xlBrakepoint) {
        max-width: 709px;
    }

    @media screen and (max-width: $lgBrakepoint) {
        max-width: none;
    }

    @media screen and (max-width: $smBrakepoint) {
        max-width: 290px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__title + &__items {
        margin-top: 62px;

        @media screen and (max-width: $xlBrakepoint) {
            margin-top: 32px;
        }

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 24px;
        }

        @media screen and (max-width: $mdBrakepoint) {
            margin-top: 43px;
        }
    }

    &__link {
        display: block;
    }

    &__logo {
        display: block;
        height: auto;
        opacity: 0.48;

        &--cloudflare {
            width: 167px;

            @media screen and (max-width: $xlBrakepoint) {
                width: 125px;
            }

            @media screen and (max-width: $lgBrakepoint) {
                width: 94px;
            }

            @media screen and (max-width: $mdBrakepoint) {
                width: 71px;
            }

            @media screen and (max-width: $smBrakepoint) {
                width: 51px;
            }
        }

        &--g-suite {
            width: 146px;

            @media screen and (max-width: $xlBrakepoint) {
                width: 110px;
            }

            @media screen and (max-width: $lgBrakepoint) {
                width: 83px;
            }

            @media screen and (max-width: $mdBrakepoint) {
                width: 62px;
            }

            @media screen and (max-width: $smBrakepoint) {
                width: 45px;
            }
        }

        &--ibm {
            width: 156px;

            @media screen and (max-width: $xlBrakepoint) {
                width: 117px;
            }

            @media screen and (max-width: $lgBrakepoint) {
                width: 88px;
            }

            @media screen and (max-width: $mdBrakepoint) {
                width: 66px;
            }

            @media screen and (max-width: $smBrakepoint) {
                width: 48px;
            }
        }

        &--sparkpost {
            width: 168px;

            @media screen and (max-width: $xlBrakepoint) {
                width: 126px;
            }
            
            @media screen and (max-width: $lgBrakepoint) {
                width: 95px;
            }

            @media screen and (max-width: $mdBrakepoint) {
                width: 71px;
            }

            @media screen and (max-width: $smBrakepoint) {
                width: 52px;
            }
        }
    }
}