$darkBlue: #0265ce;
$lightBlue: #1992fc;
$blue: #006fd3;
$titleColor: #424963;
$textColor: #424963;
$mobileHeaderColor: #025ec0;

$xlBrakepoint: 1199px;
$lgBrakepoint: 991px;
$mdBrakepoint: 767px;
$smBrakepoint: 575px;

* {
  padding: 0;
  margin: 0;
}

a.link_active {
  font-family: 'Poppins', sans-serif;
  color: #33a5ea;
}

a.link_active:hover {
  text-decoration: underline;
}

h2.section-title {
  margin-top: 115px;
}

.section-subscribe {
  display: flex;
  margin-top: 40px;
  align-items: baseline;
  background-image: url("../img/bg-main-form_02.png");
  background-position: center;
  min-height: 594px;
}

.subscribe-form {
  justify-content: space-between;
  margin-top: 180px;

  &__field {
    display: flex;
    width: 74%;
    .form-item {
      display: flex;
      width: 71%;
    }
  }

  &__input {
    width: 100%;
    height: 56px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 28px 0px 0px 28px;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;

  }

  &__label {
    display: block;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    margin-bottom: 44px;
  }

  &__btn {
    width: 29%;
    background-color: #1791ff;
    -webkit-transition: border 0.35s ease, background 0.35s ease, color 0.35s ease;
    transition: border 0.35s ease, background 0.35s ease, color 0.35s ease;
    outline: none;
    border: none;
    border-radius: 0px 28px 28px 0px;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;

    &:hover, &:focus, &:active {
      background: $darkBlue;
      color: white;
    }
  }
}

.contact-section {
  display: flex;
  margin-top: 40px;
  align-items: baseline;
  background-position: center;
  min-height: 594px;
  &__index {
    display: flex;
    justify-content: space-between;
  }

}

.btn--border:active {
  border-color: $blue;
}

.contact-form-postsctipt {
  width: 38%;
  &__header {
    text-align: left;
    font-size: 30px;
    color: #5d5d5d;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  &__paragraph {
    font-size: 24px;
    color: #6f6f6f;
    line-height: 1.4;
    margin-bottom: 50px;
  }
}

.contact-form-index {
  width: 55%;
  padding-right: 2%;
  .form-item {
    margin-bottom: 46px;
  }
}

.contact-form-index .form-item_send {
  padding-top: 54px;
  margin-bottom: 0px;
}

.form-control {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom-color: #6f6f6f;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;
  height: 46px;
  &:focus {
    border-bottom-color: #0085fe;
    color: #3994fc;
  }
}

.state-error .form-control {
  border-bottom-color: #d4554f;
  color: #d98380;
}

textarea.form-control {
  resize: none;
  min-height: 95px;
}

.btn-default {
  background-color: #3b7bff;
  color: white;
  outline: none;
  border: none;
  height: 66px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 33px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: $darkBlue;
  }
  &:active {
    background-color: #057adc;
  }

  &:disabled {
    background-color: #649fd0;
  }
}

.btn-default_with-shadow {
  -webkit-box-shadow: 2px 7px 60px 8px rgba(162, 205, 244, 0.66);
  -moz-box-shadow: 2px 7px 60px 8px rgba(162, 205, 244, 0.66);
  box-shadow: 2px 7px 60px 8px rgba(162, 205, 244, 0.66);
}

@media screen and (max-width: $lgBrakepoint) {

  .contact-form-postsctipt {
    width: 44%;
  }
  .contact-form-index {
    width: 49%;
  }
  .section-subscribe {
    background-position: inherit;
  }
  .subscribe-form__field {
    width: 100%;
  }
}

@media screen and (max-width: $mdBrakepoint) {
  .section-subscribe {
    background-image: none;
    background-color: #004ae2;
  }

  .section-subscribe {
    min-height: 340px;
  }

  .subscribe-form {
    margin-top: 60px;
  }

  .subscribe-form__field {
    width: 100%;
  }

  .contact-section__index {
    display: block;
  }

  .contact-form-postsctipt {
    width: 100%;
  }

  .contact-form-index {
    width: 100%;
    padding-right: 0px;
  }

  .subscribe-form__field {
    display: block;
  }

  .subscribe-form__field .form-item {
    width: 100%;
  }

  .subscribe-form__input {
    border-radius: 24px;
    height: 48px;
  }

  .subscribe-form__btn {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    margin-top: 35px;
  }

  .subscribe-form__input {
    font-size: 12px;
  }

  .contact-form-index .form-item {
    margin-bottom: 12px;
  }
  .contact-form-index .form-item .form-control {
    font-size: 12px;
    height: inherit;
    padding-bottom: 40px;
  }

  .section-subscribe {
    min-height: 260px;
  }

  .btn-default {
    height: 52px;
    border-radius: 26px;
    font-size: 14px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .contact-section {
    margin-top: 25px;
  }

  .contact-form-index .form-item_send .btn-default {
    margin: 0 auto;
    display: block;
  }

  h2.section-title {
    font-size: 24px;
    margin-top: 75px;
  }

  .contact-form-postsctipt__header {
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .contact-form-postsctipt__paragraph {
    font-size: 17px;
    margin-bottom: 18px;
    line-height: 1.5;
  }

  .subscribe-form {
    margin-top: 37px;
    text-align: center;

  }

  .subscribe-form__label {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .subscribe-form__field {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .subscribe-form__field .form-item .form-control {
    border-radius: 24px;
    height: 48px;
    font-size: 12px;
  }

  .contact-form-index .form-item_send {
    padding-top: 44px;
  }

  .subscribe-form__btn {
    width: 84%;
    height: 48px;
    border-radius: 24px;
    margin-top: 23px;
    font-size: 14px;
  }
}