.header {
    padding: 25px 0;

    @media screen and (max-width: $lgBrakepoint) {
        padding-top: 22px;
        padding-bottom: 22px;
        background: $mobileHeaderColor;
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__col {
        flex-grow: 0;
        flex-shrink: 0;

        &--logo {
            flex-basis: 25.70175438596491%;

            @media screen and (max-width: $xlBrakepoint) {
                flex-basis: 25%;
            }

            @media screen and (max-width: $lgBrakepoint) {
                flex-basis: 55.17241379310345%;
            }
        }

        &--nav {
            flex-basis: 51.31578947368421%;

            @media screen and (max-width: $xlBrakepoint) {
                flex-basis: 50%;
            }

            @media screen and (max-width: $lgBrakepoint) {
                display: none;
            }
        }

        &--btns {
            flex-basis: 22.98245614035088%;

            @media screen and (max-width: $xlBrakepoint) {
                flex-basis: 25%;
            }

            @media screen and (max-width: $lgBrakepoint) {
                display: none;
            }
        }

        &--mobile {
            display: none;
            justify-content: flex-end;
            align-items: center;

            @media screen and (max-width: $lgBrakepoint) {
                display: flex;
                flex-basis: 44.82758620689655%;
            }
        }
    }

    &__logo {
        max-width: 185px;

        &,
        img {
            display: inline-block;
            vertical-align: top;
        }

        img {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: $xlBrakepoint) {
            max-width: 139px;
        }

        @media screen and (max-width: $lgBrakepoint) {
            max-width: 106px;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.lang-btn {
    display: inline-block;
    vertical-align: top;
    width: 27px;

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .burger + & {
        margin-left: 21px;
    }
}

.burger {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    letter-spacing: 0.025em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: transparent;
    padding: 0.0357142857142857em 3em 0.0357142857142857em 0;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;

    &__icon {
        display: block;
        width: 1.857142857142857em;
        height: 1.571428571428571em;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -0.7857142857142857em;

        &::before {
            content: "";
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -0.5px;
        }
    }
}

.mobile-menu {
    background: $mobileHeaderColor;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: none;

    &__inner,
    &__nav {
        border-top: 1px solid white;
    }

    &__btns {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: -7.5px;
        margin-right: -7.5px;
        padding-top: 9px;
        padding-bottom: 18px;

        @media screen and (max-width: $lgBrakepoint) {
            margin-left: auto;
            margin-right: auto;
            max-width: 305px;
        }

        @media screen and (max-width: $smBrakepoint) {
            margin-left: 0;
            margin-right: 0;
            max-width: none;
        }
    }

    &__btn-container {
        flex-grow: 0;
        flex-shrink: 0;
        
        &:first-child {
            flex-basis: 52.45901639344262%;
        }

        &:last-child {
            flex-basis: 47.54098360655738%;
        }
    }

    &__btn-wrapper {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    &__nav {
        padding-top: 13px;
        padding-bottom: 13px;
    }
}