* {
    box-sizing: border-box;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html {
    font-size: 16px;
    line-height: 1;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', Droid Sans, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

button,
input {
    line-height: 1.5;
}

button,
a {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    font: inherit;
    outline: none;
}

.svg-icon {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;

    @media screen and (max-width: $xlBrakepoint) {
        width: 960px;
    }

    @media screen and (max-width: $lgBrakepoint) {
        width: 720px;
    }

    @media screen and (max-width: $mdBrakepoint) {
        width: 540px;
    }

    @media screen and (max-width: $smBrakepoint) {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    &:not(.container--no-paddings) {
        @media screen and (max-width: $smBrakepoint) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 1.25em;
    padding: 0.6071428571428571em 0;
    color: white;
    text-align: center;

    &__inner {
        position: relative;
        z-index: 1;
    }

    &--border {
        border: 1px solid white;
        transition: border 0.35s ease, background 0.35s ease, color 0.35s ease;

        &:hover,
        &:focus,
        &:active {
            background: white;
            color: $blue;
        }

        &:active {
            border-color: $blue;
        }
    }

    &--white {
        color: $blue;
        background: white;
        border: 1px solid transparent;
        transition: border 0.35s ease, color 0.35s ease, background 0.35s ease;

        &:hover,
        &:focus {
            background: #1791ff;
            color: white;
        }

        &:active {
            border-color: $blue;
        }

        &:disabled {
            color: #649fd0;
        }
    }

    &--lg {
        font-size: 16px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        padding-top: 1.5625em;
        padding-bottom: 1.5625em;
        border-radius: 2.25em;

        @media screen and (max-width: $lgBrakepoint) {
            font-size: 15px;
            padding-top: 1.366666666666667em;
            padding-bottom: 1.366666666666667em;
        }
    }

    &--header {
        width: 7em;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;

        @media screen and (max-width: $xlBrakepoint) {
            font-size: 13px;
            width: 6.5em;
        }

        @media screen and (max-width: $lgBrakepoint) {
            font-size: 14px;
            width: 100%;
            padding-left: 1em;
            padding-right: 1em
        }
    }

    &--footer {
        font-weight: 600;
        font-size: 18px;
        padding: 1.333333333333333em 2em;
        min-width: 21.05555555555556em;
        border-radius: 2em;

        @media screen and (max-width: $xlBrakepoint) {
            font-size: 16px;
        }
        
        @media screen and (max-width: $mdBrakepoint) {
            font-size: 14px;
            padding-top: 1.285714285714286em;
            padding-bottom: 1.285714285714286em;
        }

        @media screen and (max-width: $smBrakepoint) {
            min-width: auto;
            width: 100%;
        }
    }

    &--intro {
        width: 13.0625em;
    }

    &--timer {
        width: 11.93333333333333em;
    }
}

.shadow-btn {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    position: relative;

    &,
    &__inner {
        display: inline-block;
        vertical-align: top;
    }

    &__inner,
    &__text {
        position: relative;
        z-index: 1;
    }

    &__inner {
        border-radius: 2em;
        background: linear-gradient(to right, #004ae2, #3b7bff);

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
            background: #0265cd;
            opacity: 0;
            transition: background 0.35s ease, opacity 0.35s ease;
            border-radius: 2em;
        }
    }

    &:active &__inner::before {
        background: #057adc;
    }

    &:disabled &__inner::before {
        background: #649fd0;
    }

    &::before {
        content: "";
        width: 75%;
        height: 3em;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-shadow: 0px 0.25em 3em 0px rgba(16, 128, 234, 0.75);
        background: transparent;
        transition: opacity 0.35s ease;
    }

    &:hover &__inner::before,
    &:focus &__inner::before {
        opacity: 1;
    }

    &:hover::before,
    &:focus::before {
        opacity: 0;
    }

    &--text-picture,
    &--text-picture::before,
    &--text-picture &__inner::before {
        border-radius: 2em;   
    }

    &--text-picture &__inner {
        padding: 1.392857142857143em 2.75em;

        @media screen and (max-width: $mdBrakepoint) {
            padding-left: 2.642857142857143em;
            padding-right: 2.642857142857143em;
        }
    }
}

.section-title {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: $titleColor;
    text-align: center;
    line-height: 1.333333333333333;

    &--white {
        color: white;
    }

    @media screen and (max-width: $xlBrakepoint) {
        font-size: 40px;
    }

    @media screen and (max-width: $lgBrakepoint) {
        font-size: 32px;
    }
    
    @media screen and (max-width: $mdBrakepoint) {
        font-size: 24px;
    }
}