.nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    @media screen and (max-width: $xlBrakepoint) {
        font-size: 14px;
        justify-content: center;
    }

    &__item {
        padding: 0 1.25em;

        @media screen and (max-width: $xlBrakepoint) {
            padding-left: 1em;
            padding-right: 1em;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__link {
        color: white;
        display: inline-block;
        vertical-align: top;
        border-bottom: 1px solid transparent;
        transition: border 0.35s ease;

        &:hover,
        &:focus,
        &:active {
            border-bottom-color: white;
        }
    }
}

.mobile-nav {
    font-size: 12px;

    &__link {
        display: block;
        width: 100%;
        letter-spacing: 0.025em;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: white;
        padding: 0.9166666666666667em 0;

        @media screen and (max-width: $lgBrakepoint) {
            text-align: center;
        }

        @media screen and (max-width: $smBrakepoint) {
            text-align: left;
        }
    }

    &__text {
        display: inline-block;
        vertical-align: top;
        border: 1px solid transparent;
        transition: 0.35s ease;
        line-height: 1.25;
    }

    &__link:hover &__text,
    &__link:focus &__text {
        border-bottom-color: white;
    }
}