.roadmap {
    font-size: 16px;
    padding-top: 103px;
    padding-bottom: 180px;

    @media screen and (max-width: $xlBrakepoint) {
        padding-top: 77px;
        padding-bottom: 135px;
    }

    @media screen and (max-width: $lgBrakepoint) {
        padding-top: 58px;
        padding-bottom: 101px;
    }

    @media screen and (max-width: $mdBrakepoint) {
        padding-top: 44px;
        padding-bottom: 76px;
        font-size: 14px;
    }

    @media screen and (max-width: $smBrakepoint) {
        padding-top: 29px;
        padding-bottom: 52px;
    }

    &__inner {
        position: relative;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 2px;

            @media screen and (max-width: $smBrakepoint) {
                display: none;
            }
        }

        &::before {
            height: 100%;
            background: #bcc5db;
            position: absolute;
            top: 0;
        }

        &::after {
            background: linear-gradient(to bottom, transparent, white);
            height: 8em;
            bottom: 0;
        }
    }

    .section-title + &__inner {
        margin-top: 90px;

        @media screen and (max-width: $xlBrakepoint) {
            margin-top: 68px;
        }

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 51px;
        }

        @media screen and (max-width: $mdBrakepoint) {
            margin-top: 38px;
        }

        @media screen and (max-width: $smBrakepoint) {
            margin-top: 35px;
        }
    }

    &__item {
        & + & {
            padding-top: 2.4375em;

            @media screen and (max-width: $smBrakepoint) {
                padding-top: 0;
                margin-top: 2.5em;
            }
        }

        &--active + & {
            padding-top: 4.5em;

            @media screen and (max-width: $smBrakepoint) {
                padding-top: 0;
                margin-top: 2.5em;
            }
        }
    }
}

.roadmap-checkpoint {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    @media screen and (max-width: $smBrakepoint) {
        flex-direction: column;
    }

    &::before {
        content: "";
        display: block;
        width: 1em;
        height: 1em;
        background: #bcc5db;
        border: 0.25em solid white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;

        @media screen and (max-width: $smBrakepoint) {
            display: none;
        }
    }

    &--active::before {
        width: 1.625em;
        height: 1.625em;
        background: linear-gradient(to right, #057adc, #1181ec, #057adc);
    }

    &__col {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 0;

        @media screen and (max-width: $smBrakepoint) {
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 1;
        }

        &--date {
            @media screen and (max-width: $smBrakepoint) {
                order: 0;
            }
        }

        &--description {
            @media screen and (max-width: $smBrakepoint) {
                order: 1;
            }
        }
    }

    &--active &__col {
        padding-top: 0.3125em;

        @media screen and (max-width: $smBrakepoint) {
            padding-top: 0;
        }

        &--description {
            @media screen and (max-width: $smBrakepoint) {
                margin-top: 1.428571428571429em;
            }
        }
    }

    &__col:first-child &__col-inner {
        padding-right: 3em;

        @media screen and (max-width: $mdBrakepoint) {
            padding-right: 1.5em;
        }

        @media screen and (max-width: $smBrakepoint) {
            padding-right: 0;
        }
    }

    &--reverse &__col:first-child &__col-inner {
        padding-left: 3em;
        padding-right: 0;

        @media screen and (max-width: $mdBrakepoint) {
            padding-left: 1.5em;
        }

        @media screen and (max-width: $smBrakepoint) {
            padding-left: 0;
        }
    }

    &__col:last-child &__col-inner {
        padding-left: 3em;

        @media screen and (max-width: $mdBrakepoint) {
            padding-left: 1.5em;
        }

        @media screen and (max-width: $smBrakepoint) {
            padding-left: 0;
        }
    }

    &--reverse &__col:last-child &__col-inner {
        padding-right: 3em;
        padding-left: 0;

        @media screen and (max-width: $mdBrakepoint) {
            padding-right: 1.5em;
        }

        @media screen and (max-width: $smBrakepoint) {
            padding-right: 0;
        }
    }

    &--reverse &__col--date {
        order: 0;
    }

    &--reverse &__col--date &__col-inner {
        text-align: right;

        @media screen and (max-width: $smBrakepoint) {
            text-align: left;
        }
    }

    &--reverse &__col--description {
        order: 1;
    }

    &__date {
        font-size: 1.125em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: #0058a1;
        line-height: 1.333333333333333;

        @media screen and (max-width: $smBrakepoint) {
            font-size: 1em;
            line-height: 1;
            padding-left: 1.785714285714286em;
            position: relative;
        }

        &::before {
            @media screen and (max-width: $smBrakepoint) {
                content: "";
                display: block;
                width: 1.142857142857143em;
                height: 1.142857142857143em;
                background: #bcc5db;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -0.5714285714285714em;
            }
        }
    }

    &--active &__date::before {
        @media screen and (max-width: $smBrakepoint) {
            background: linear-gradient(to right, #057adc, #1181ec, #057adc);
        }
    }

    &__description {
        min-height: 8em;

        @media screen and (max-width: $smBrakepoint) {
            min-height: auto;
            margin-top: 1.071428571428571em;
        }
    }

    &--active &__description {
        background: linear-gradient(to right, #004ae2, #3b7bff);
        border-radius: 0.625em;
        margin-left: 5.25em;
        padding-left: 6.125em;
        padding-top: 2.21875em;
        padding-bottom: 2.21875em;
        margin-top: -2.6875em;

        @media screen and (max-width: $xlBrakepoint) {
            margin-left: 0;
        }

        @media screen and (max-width: $lgBrakepoint) {
            padding-left: 2em;
            padding-right: 2em;
        }

        @media screen and (max-width: $mdBrakepoint) {
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
        
        @media screen and (max-width: $smBrakepoint) {
            margin-top: 0;
            padding: 1.357142857142857em 1.714285714285714em;
        }
    }

    &__text {
        font-family: 'Open Sans', sans-serif;
        color: #6f6f6f;
        line-height: 1.5;
        text-align: right;

        @media screen and (max-width: $smBrakepoint) {
            text-align: left;
            line-height: 1.285714285714286;
        }
    }

    &--active &__text {
        color: white;
    }

    .roadmap-list &__text,
    &--reverse &__text {
        text-align: left;
    }

    &--active &__text {
        text-align: left;
    }

    &--active .roadmap-list__item::before {
        border-left-color: white;
    }

    .roadmap-list {
        margin-left: 11.8125em;

        @media screen and (max-width: $xlBrakepoint) {
            margin-left: 6.125em;
        }

        @media screen and (max-width: $lgBrakepoint) {
            margin-left: 2em;
        }

        @media screen and (max-width: $mdBrakepoint) {
            margin-left: 1.5em;
        }

        @media screen and (max-width: $smBrakepoint) {
            margin-left: 0;
        }
    }

    &--active .roadmap-list,
    &--reverse .roadmap-list {
        margin-left: 0;
    }
}

.roadmap-list {
    &__item {
        padding-left: 1em;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 0; 
            height: 0; 
            border-top: 0.21875em solid transparent;
            border-bottom: 0.21875em solid transparent;
            border-left: 0.375em solid #6f6f6f;
            position: absolute;
            top: 0.5em;
            left: 0;
        }

        & + & {
            margin-top: 0;
        }
    }
}