.social {
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: $smBrakepoint) {
        display: block;
        max-width: 290px;
        margin-left: auto;
        margin-right: auto;
    }

    &__text {
        display: block;
        padding-right: 1.833333333333333em;
    }

    &__items {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media screen and (max-width: $smBrakepoint) {
            justify-content: space-between;
        }
    }

    &__text + &__items {
        @media screen and (max-width: $smBrakepoint) {
            margin-top: 3.5em;
        }
    }

    &__item {
        padding: 0 0.3333333333333333em;

        @media screen and (max-width: $smBrakepoint) {
            padding-left: 0;
            padding-right: 0;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__link {
        display: block;
        width: 2.222222222222222em;
        height: 2.222222222222222em;
        border: 1px solid white;
        border-radius: 50%;
        padding: 15%;

        @media screen and (max-width: $mdBrakepoint) {
            width: 2.428571428571429em;
            height: 2.428571428571429em;
        }
    }

    &__icon {
        fill: white;
    }
}