.start {
    min-height: 100vh;
    background: linear-gradient(to right, $darkBlue, $lightBlue);

    @media screen and (max-width: $lgBrakepoint) {
        min-height: auto;
    }
}

.intro {
    font-size: 24px;
    color: white;
    padding: 68px 0;

    @media screen and (max-width: $xlBrakepoint) {
        font-size: 22px;
    }

    @media screen and (max-width: $lgBrakepoint) {
        font-size: 16px;
        padding-top: 51px;
        padding-bottom: 70px;
    }

    @media screen and (max-width: $mdBrakepoint) {
        padding-top: 48px;
        padding-bottom: 68px;
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media screen and (max-width: $mdBrakepoint) {
            display: block;
        }
    }

    &__col {
        flex-grow: 0;
        flex-shrink: 0;

        &--text {
            flex-basis: 48.68421052631579%;

            @media screen and (max-width: $mdBrakepoint) {
                text-align: center;
            }
        }

        &--timer {
            flex-basis: 51.31578947368421%;
        }

        &--text + &--timer {
            @media screen and (max-width: $mdBrakepoint) {
                margin-top: 41px;
            }
        }
    }

    &__title,
    &__subtitle {
        letter-spacing: 0.025em;
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        line-height: 1;
        font-size: 2.5em;

        @media screen and (max-width: $mdBrakepoint) {
            font-size: 1.875em;
        }
    }

    &__subtitle {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.25;
    }

    &__btn {
        @media screen and (max-width: $mdBrakepoint) {
            display: none;
        }
    }

    &__title + &__subtitle {
        margin-top: 0.9166666666666667em;

        @media screen and (max-width: $mdBrakepoint) {
            margin-top: 0.375em;
        }
    }

    &__subtitle + &__btn {
        margin-top: 36px;

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 27px;
        }
    }
}

.timer {
    background: #025ec0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 40px 28px 50px 28px;
    border-radius: 10px;

    @media screen and (max-width: $lgBrakepoint) {
        padding: 30px 21px 38px 21px;
    }

    @media screen and (max-width: $mdBrakepoint) {
        padding: 18px 15px 20px 15px;
    }

    &__text {
        font-size: 18px;
        letter-spacing: 0.025em;
        text-align: center;
        line-height: 1.25;

        @media screen and (max-width: $lgBrakepoint) {
            font-size: 14px;
        }

        @media screen and (max-width: $mdBrakepoint) {
            font-size: 12px;
        }

        &--uppercase {
            text-transform: uppercase;
        }

        strong {
            font-weight: 600;
        }
    }

    &__value {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__text + &__value {
        margin-top: 30px;

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 23px;
        }

        @media screen and (max-width: $mdBrakepoint) {
            margin-top: 12px;
        }
    }

    &__value + &__text {
        margin-top: 36px;

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 27px;
        }

        @media screen and (max-width: $mdBrakepoint) {
            margin-top: 11px;
            font-size: 11px;
        }
    }

    &__text + &__progress-bar {
        margin-top: 12px;

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 9px;
        }

        @media screen and (max-width: $mdBrakepoint) {
            margin-top: 14px;
        }
    }

    &__unit {
        text-align: center;
        padding-left: 2.166666666666667em;
        padding-right: 2.166666666666667em;
        font-size: 12px;

        @media screen and (max-width: $lgBrakepoint) {
            font-size: 10px;
            padding-left: 1.5em;
            padding-right: 1.5em;
        }

        @media screen and (max-width: $mdBrakepoint) {
            font-size: 9px;
            padding-left: 1.277777777777778em;
            padding-right: 1.277777777777778em;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        & + & {
            position: relative;

            &:before {
                content: ':';
                font-size: 4.583333333333333em;
                font-weight: 300;
                font-family: inherit;
                position: absolute;
                top: 0;
                left: -0.1272727272727273em;
                margin-top: -0.0909090909090909em;

                @media screen and (max-width: $lgBrakepoint) {
                    font-size: 3.5em;
                }
            }
        }
    }

    &__number,
    &__unit-name {
        display: block;
        text-align: center;
    }

    &__number {
        font-size: 4.583333333333333em;
        font-weight: 300;
        letter-spacing: 0.025em;

        @media screen and (max-width: $lgBrakepoint) {
            font-size: 3.5em;
        }

        @media screen and (max-width: $mdBrakepoint) {
            font-size: 3.333333333333333em;
        }
    }

    &__unit-name {
        text-transform: uppercase;
        color: #46bdf4;
    }

    &__number + &__unit-name {
        margin-top: 9px;

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 7px;
        }

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 4px;
        }
    }

    &__btn-container {
        text-align: center;
        display: none;

        @media screen and (max-width: $mdBrakepoint) {
            display: block;
        }
    }

    &__progress-bar + &__btn-container {
        margin-top: 19px;
    }
}

.timer-progress-bar {
    font-size: 12px;

    @media screen and (max-width: $lgBrakepoint) {
        font-size: 10px;
    }

    @media screen and (max-width: $lgBrakepoint) {
        font-size: 11px;
    }

    &__bar {
        height: 1.833333333333333em;
        border-radius: 0.8333333333333333em;
        background: linear-gradient(to right, #46bdf4, #0265ce); 
        position: relative;
        overflow: hidden;

        @media screen and (max-width: $mdBrakepoint) {
            height: 1.818181818181818em;
        }
    }

    &__value {
        letter-spacing: 0.025em;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top: 50%;
        right: 25%;
        margin-top: -0.5em;
        color: white;
        padding-right: 1.25em;
    }

    &__left {
        display: block;
        width: 25%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: white;
    }

    &__checkpoint {
        font-size: 1.333333333333333em;
        letter-spacing: 0.025em;
        text-align: center;
        padding-top: 2.1875em;
        position: relative;

        @media screen and (max-width: $mdBrakepoint) {
            font-size: 0.9090909090909091em;
            padding-top: 0.7em;
        }

        &::before {
            content: "";
            width: 1px;
            height: 3.1875em;
            position: absolute;
            top: -1.375em;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: #bababa;

            @media screen and (max-width: $mdBrakepoint) {
                height: 2.5em;
                top: -2.2em;
            }
        }
    }
}