.text-picture {
    font-size: 16px;
    color: $textColor;

    @media screen and (max-width: $mdBrakepoint) {
        font-size: 14px;
    }

    @media screen and (max-width: $smBrakepoint) {
        font-size: 12px;
    }

    &--light-grey {
        background: #f9fbfe;
        padding-top: 113px;
        padding-bottom: 191px;

        @media screen and (max-width: $lgBrakepoint) {
            padding-top: 1.666666666666667em;
            padding-bottom: 5em;
        }
    }

    &--main {
        background: transparent url(../img/iphone-bg.png) center -35px/1920px auto no-repeat;
    
        @media screen and (max-width: $lgBrakepoint) {
            padding-top: 4.333333333333333em;
            background: transparent;
        }
    }

    &--exchange {
        padding-bottom: 103px;

        @media screen and (max-width: $xlBrakepoint) {
            padding-bottom: 77px;
        }

        @media screen and (max-width: $lgBrakepoint) {
            padding-bottom: 58px;
        }

        @media screen and (max-width: $mdBrakepoint) {
            padding-bottom: 44px;
        }

        @media screen and (max-width: $smBrakepoint) {
            padding-bottom: 23px;
        }
    }

    &--main + & {
        margin-top: 9.8125em;

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 8.166666666666667em;
        }
    }

    &--crypto-go + &--multi-coin {
        margin-top: 10.6875em;
        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 5em;
        }
    }

    &--multi-coin + &--exchange {
        margin-top: 9.0625em;
        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 5.416666666666667em;
        }
    }

    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        @media screen and (max-width: $lgBrakepoint) {
            flex-direction: column;
        }
    }

    &--main &__row {
        @media screen and (max-width: $lgBrakepoint) {
            display: block;
        }
    }

    &__col {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 0;

        @media screen and (max-width: $lgBrakepoint) {
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 1;
        }

        &--main {
            @media screen and (max-width: $xlBrakepoint) {
                flex-basis: 65%;
            }

            @media screen and (max-width: $lgBrakepoint) {
                order: 1;
            }
        }

        &--picture {
            @media screen and (max-width: $xlBrakepoint) {
                flex-basis: 35%;
            }
            
            @media screen and (max-width: $lgBrakepoint) {
                order: 0;
                max-width: 320px;
            }

            @media screen and (max-width: $mdBrakepoint) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &:not(.text-picture--main) &__col--main {
        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 4.166666666666667em;
        }
    }

    &--crypto-go:not(.text-picture--main) &__col--main {
        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 2.5em;
        }
    }

    &--multi-coin:not(.text-picture--main) &__col--main {
        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 5.416666666666667em;
        }
    }

    &--exchange:not(.text-picture--main) &__col--main {
        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 2.5em;
        }
    }

    &--better-world:not(.text-picture--main) &__col--main {
        @media screen and (max-width: $lgBrakepoint) {
            margin-top: -2.5em;
        }
    }

    &--technical-partner:not(.text-picture--main) &__col--main {
        @media screen and (max-width: $lgBrakepoint) {
            margin-top: -1.583333333333333em;
        }
    }

    &--main &__col--main {
        flex-basis: 59.82456140350877%;
        padding-top: 59px;

        @media screen and (max-width: $xlBrakepoint) {
            flex-basis: 65%;
        }

        @media screen and (max-width: $lgBrakepoint) {
            padding-top: 0;
        }
    }

    &--main &__col--picture {
        flex-basis: 40.17543859649123%;

        @media screen and (max-width: $xlBrakepoint) {
            flex-basis: 35%;
        }

        @media screen and (max-width: $lgBrakepoint) {
            display: none;
        }
    }

    &--reverse &__col--picture {
        order: 0;
    }

    &--reverse &__col--main {
        order: 1;
    }

    &--definition-model &__col--picture {
        padding-top: 65px;

        @media screen and (max-width: $lgBrakepoint) {
            padding-top: 0;
        }
    }

    &--crypto-go &__col--main {
        padding-top: 10px;

        @media screen and (max-width: $lgBrakepoint) {
            padding-top: 0;
        }
    }

    &--multi-coin &__col--main {
        padding-top: 25px;

        @media screen and (max-width: $lgBrakepoint) {
            padding-top: 0;
        }
    }

    &--exchange &__col--picture {
        padding-top: 30px;

        @media screen and (max-width: $lgBrakepoint) {
            padding-top: 0;
        }
    }

    &__main {
        padding-right: 3em;

        @media screen and (max-width: $lgBrakepoint) {
            padding-right: 0;
        }
    }

    &--reverse &__main {
        padding-left: 15px;
        padding-right: 0;

        @media screen and (max-width: $lgBrakepoint) {
            padding-left: 0;
        }
    }

    &__picture {
        padding-left: 15px;
        text-align: center;

        @media screen and (max-width: $lgBrakepoint) {
            padding-left: 0;
        }
    }

    &--reverse &__picture {
        padding-left: 0;
        padding-right: 15px;

        @media screen and (max-width: $lgBrakepoint) {
            padding-right: 0;
        }
    }

    &--main &__main {
        padding-left: 0;
    }

    &--main &__picture {
        text-align: left;
        padding-right: 0;
    }

    &__img {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        height: auto;
    }

    &--main &__img {
        margin-left: -75px;
    }

    &__icon {
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 55.5px;
            height: 51.5px;
            position: absolute;
            top: -16px;
            left: -23px;
            background: url('../img/stain.png') center / contain no-repeat;
        
            @media screen and (max-width: $lgBrakepoint) {
                width: 36px;
                height: 33px;
                left: -4px;
                top: -12px;
            }
        }

        &--crypto-go {
            height: 3.25em;

            @media screen and (max-width: $lgBrakepoint) {
                height: 2.5em;
            }
        }

        &--definition-model {
            height: 2.75em;

            @media screen and (max-width: $lgBrakepoint) {
                height: 2.083333333333333em;
            }
        }

        &--exchange {
            height: 3.125em;

            @media screen and (max-width: $lgBrakepoint) {
                height: 2.5em;
            }
        }

        &--technical-partner {
            height: 2.9375em;

            @media screen and (max-width: $lgBrakepoint) {
                height: 2.5em;
            }
        }

        &--multi-coin {
            height: 3.1875em;

            @media screen and (max-width: $lgBrakepoint) {
                height: 2.5em;
            }
        }

        &--better-world {
            height: 2.6875em;

            @media screen and (max-width: $lgBrakepoint) {
                height: 2.5em;
            }
        }

        img {
            height: 100%;
            width: auto;
        }
    }

    &__title {
        font-size: 2.25em;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        position: relative;
        padding-top: 0.5277777777777778em;
        line-height: 1.25;

        @media screen and (max-width: $lgBrakepoint) {
            font-size: 1.5em;
            line-height: 1.333333333333333;
            padding-top: 0.8888888888888889em;
        }

        &::before {
            content: "";
            display: block;
            height: 3px;
            width: 1.111111111111111em;
            background: #4086fc;
            border-radius: 1px;
            position: absolute;
            top: 0;
            left: 0;

            @media screen and (max-width: $lgBrakepoint) {
                width: 2.222222222222222em;
            }
        }
    }

    &__subtitle,
    &__text {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }

    &__subtitle {
        font-size: 1.5em;
        line-height: 1.5;

        @media screen and (max-width: $lgBrakepoint) {
            font-size: 1.166666666666667em;
            line-height: 1.285714285714286;
        }
    }

    &__text {
        line-height: 1.875;

        @media screen and (max-width: $lgBrakepoint) {
            line-height: 1.333333333333333;
        }

        &--md {
            font-size: 0.875em;
            font-weight: 400;
            line-height: 1.714285714285714;

            @media screen and (max-width: $lgBrakepoint) {
                font-size: 1.166666666666667em;
                line-height: 1.714285714285714;
            }
        }

        strong {
            font-weight: 600;

            @media screen and (max-width: $lgBrakepoint) {
                font-weight: 400;
            }
        }
    }

    &__btns {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: -7.5px;
        margin-right: -7.5px;

        @media screen and (max-width: $lgBrakepoint) {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__btn-container {
        padding: 3.75px 7.5px;
    
        @media screen and (max-width: $lgBrakepoint) {
            padding: 0;
            text-align: center;
        }

        & + & {
            @media screen and (max-width: $lgBrakepoint) {
                margin-top: 2.583333333333333em;
            }    
        }
    }

    &__icon + &__title {
        margin-top: 0.6666666666666667em;
    }

    &__title + &__subtitle {
        margin-top: 1.416666666666667em;
    
        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 0.7857142857142857em;
        }
    }

    &__title + &__text--md {
        margin-top: 2.642857142857143em;

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 1.071428571428571em;
        }
    }

    &__subtitle + &__text {
        margin-top: 2.3125em;

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 1.071428571428571em;
        }
    }

    &__text + &__text {
        margin-top: 1.125em;

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 1.071428571428571em;
        }
    }

    &__text--md + &__text--md {
        margin-top: 1.714285714285714em;

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 1em;
        }
    }

    &__text + &__btns {
        margin-top: 2.3125em;
    
        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 3.75em;
        }
    }

    &__text + &__table {
        margin-top: 3.25em;

        @media screen and (max-width: $lgBrakepoint) {
            margin-top: 1.583333333333333em;
        }
    }
}

.table {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #5d5d5d;
    line-height: 1.25;
    border-radius: 0.5em;
    overflow: hidden;
    background: linear-gradient(to right, #34afeb, #2b8df4);
    min-width: 32.0625em;

    @media screen and (max-width: $lgBrakepoint) {
        min-width: auto;
    }

    @media screen and (max-width: $mdBrakepoint) {
        font-size: 12px;
        min-width: 290px;
        margin-left: auto;
        margin-right: auto;
    }

    tr {
        background: white;
    }

    td:last-child {
        text-align: right;
    }

    td {
        border: none;
        padding: 0.78125em 15px;
        background: transparent;
    }

    tr:nth-child(even) {
        background: #eee;
    }

    thead tr,
    tfoot tr {
        background: transparent;
    }

    thead tr td,
    tfoot tr td {
        color: white;
    }

    thead tr td,
    tfoot tr td {
        padding-top: 0.625em;
        padding-bottom: 0.625em;
    }

    tfoot tr td {
        vertical-align: middle;
    }

    tfoot tr td:first-child {
        font-size: 1.3125em;
    }

    tfoot tr td:last-child {
        font-size: 1.875em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}