$darkBlue: #0265ce;
$lightBlue: #1992fc;
$blue: #006fd3;
$titleColor: #424963;
$textColor: #424963;
$mobileHeaderColor: #025ec0;

$xlBrakepoint: 1199px;
$lgBrakepoint: 991px;
$mdBrakepoint: 767px;
$smBrakepoint: 575px;